<html dir="ltr" lang="en">

<body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test', function(data) {});
            return false;
          });
          $('button#run').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/run_the_algorithm?lang={{lang}}&url='+encodeURIComponent('{{url}}'), function(data) {});
            return false;
          });
        });
</script>

<h1>Enter your data</h1>
<iframe width='100%' height='70%' src="{{url}}">

</iframe>

<p>
   <button id='run'><h2>Run the algorithm</h2></button>
</p>

</body>
</html>